.MenuTabContainer {
  background: transparent;
  border: none;
  background-color: #012366;
  color: white;
  cursor: pointer;
  display: inline;
  border-radius: 0;
  margin: 0;
  padding: 5px 20px;
}

@media (max-width: 44.99em) {
  .MenuTabContainer {
    width: 50%;
    border: 1px solid #1E488C;
  }
}

@media (min-width: 45em) {
  .MenuTabContainer {
    border: 1px solid #1E488C;
    padding: 10px 10px;
    margin: 4px 2px;
    border-radius: 12px;
  }
}

@media (min-width: 1020px) {
  .MenuTabContainer {
    padding: 10px 18px;
  }
}

.MenuOptionsContainer {
  margin-bottom: 20px;
}

.HeaderContainer {
  width: 100%;
}

@media (min-width: 45em) {
  .HeaderContainer {
    padding: 10px 0;
  }
}

@media (min-width: 1020px) {
  .HeaderContainer {
    margin: auto;
    width: 905px;
  }
}

.Icon {
  display: inline;
  vertical-align: middle;
}

.MenuCategory {
  display: inline;
  vertical-align: middle;
  margin-left: 8px;
}

@media (--media-tablet) {
  .MenuTabContainer {
    padding: 10px 13.5px;
  }
}